.item-list {
    font-size: 12px;
}

.card-title, h4  {
    font-size: 16px!important;
  }

  .card-body {
    max-width: 300px;
    color: black;
}
  
  @media only screen and (max-width: 768px) {
    .card-title {
      font-size: 12px!important;
    }
    .card-text {
        font-size: 8px!important;
    }
    .card-body {
        max-width: 200px;
    }
  }

